header.site {
  padding: 0px;
  background: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.16);
}

header.site > div.title > a {
}

.gsc-control-cse {
  background-color: transparent;
  border: none;
}

.gsc-control-cse .gsc-table-result {
	font-family : inherit;
}

.gsc-control-cse .gsc-input-box {
	height : inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
	box-sizing  : content-box;
	line-height : normal;
	margin-top  : 0px;

}

input.gsc-search-button-v2 {
  background-color: #8775E8;
}

input.gsc-search-button-v2:focus {
  outline: none;
  background-color: #3313DE;
}

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;
}

article ol, article ul {
  margin-left: 30px;
}

article table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}

article table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}

article table a:active,
article table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

article table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

article table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

article table th[align="left"] {
  text-align: left;
}

article table th[align="center"] {
  text-align: center;
}

article table th[align="right"] {
  text-align: right;
}

article table th:first-child {
	padding-left:20px;
}

article table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}

article table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}

article table tr {
	padding-left:20px;
}

article table td:first-child {
	padding-left:20px;
	border-left: 0;
}

article table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

article table td[align="left"] {
  text-align: left;
}

article table td[align="center"] {
  text-align: center;
}

article table td[align="right"] {
  text-align: right;
}

article table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

article table tr:last-child td {
	border-bottom:0;
}

article table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}

article table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

article table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

article.single {
  background-color: #fff;
  font-size: 16px;
  margin-bottom: 32px;
  box-shadow: 0 1px 36px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
}

article.single .article-header {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 15px 25px;
}

article.single .article-header .article-title {
  color: black;
}

article.single .article-body {
  margin: 15px 25px;
}

.list-title {
  color: rgb(130, 206, 133);
  margin-bottom: 15px;
}

footer.site * {
  color: #a8a8a8;
}

footer.site p {
  color: #a8a8a8;
}

.sidebar {
}
