pre.prettyprint {
  border-left: 2px solid #000000 !important;
  padding: 10px !important;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }

pre p {
  margin: 0px;
  padding: 3px 0px;
}

.article-image {
  margin: 15px 0px;
  border: 1px solid #000000;
  position: relative;
  box-shadow: 4px 4px 1px -4px black;
}

.article-image-img-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.article-image-img-holder:hover {
  background-color: #f7fbff;
}

.article-image-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100%;
}

.article-image-tit-holder {
  width: 100%;
  background-color: #ecf6ff;
      border-top: 1px solid rgba(0, 0, 0, 0.18);
  padding: 10px 0px;
  box-sizing: border-box;
}

.article-image-tit {
  text-align: center;
  font-weight: bold;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #000;
}

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint{background:#efecf4;font-family:Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;border:0!important}.pln{color:#19171c}ol.linenums{margin-top:0;margin-bottom:0;color:#7e7887}li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{padding-left:1em;background-color:#efecf4;list-style-type:decimal}@media screen{.str{color:#2a9292}.kwd{color:#955ae7}.com{color:#7e7887}.typ{color:#576ddb}.lit{color:#aa573c}.pun{color:#19171c}.opn{color:#19171c}.clo{color:#19171c}.tag{color:#be4678}.atn{color:#aa573c}.atv{color:#398bc6}.dec{color:#aa573c}.var{color:#be4678}.fun{color:#576ddb}}
