html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
  color: #000;
  background: #fafafa;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  margin: 0;
}

a {
  transition-duration: .2s;
  color: #000;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #000;
  outline: none;
  box-shadow: none;
}

a.tag {
  font-size: .8rem;
  line-height: 1rem;
  color: #999;
}

a.tag:hover {
  color: #333;
}

code:not(.hljs) {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  color: #000;
  font-size: .8rem;
  border-radius: 2px;
}

code, pre {
  font-size: .8rem;
  line-height: 1rem;
}

img {

}

h1, h2, h3, h4, h5 ,h6 { margin: 0; }
h1 { font-size: 1.6rem; line-height: 2rem; }
h2 { font-size: 1.4rem; line-height: 2rem; }
h3 { font-size: 1.1rem; line-height: 2rem; }
h4 { font-size: 1rem; line-height: 1rem; }
h5 { font-size: 1rem; line-height: 1rem; }

header.site {
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 2rem;
}

header.site .title {
  font-family: 'Marcellus SC', cursive;
  font-size: 2rem;
}

header.site .title a {
  text-decoration: none;
}

footer.site {
  padding: 25px 0;
  text-align: center;
}

footer.site p {
  font-size: .8rem;
  margin-bottom: .5rem;
  color: #000;
}

@media (max-width: 768px) {
  aside.site {
    margin-top: 3rem;
  }
}

aside.site .section {
  margin-bottom: 10px;
}

aside.site .section header {
  box-shadow: 0 -1px 0 #000 inset;
  margin-bottom: 1rem;
}

aside.site .section header .title {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #000;
  padding: .5rem 0;
  padding-right: 1rem;
}

aside.site .section header .title:before {
  position: absolute;
  left: 10px;
  bottom: -10px;
  content: '';
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

div.list header.title {
  margin-bottom: 2rem;
}

article.li {
  margin-bottom: 2rem;
  background-color: #fff;
}

article.li .detail {
  padding: 1rem;
}

article.li a {
  position: relative;
  text-decoration: none;
  display: block;
}

article.li .image {
  height: 12rem;
  background-color: #eee;
  background-position: center;
  background-size: cover;
}

article.li time {
  position: absolute;
  top: -5px;
  left: 15px;
  display: block;
  z-index: 1;
  white-space: nowrap;
  padding: 3px 7px;
  color: #fff;
  background-color: #333;
  border-bottom: 2px solid #000;
  font-size: .7rem;
  line-height: 1rem;
}

article.li .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

article.li .summary {
  word-break: break-all;
  height: 5rem;
  overflow: hidden;
  color: #999;
  font-size: .8rem;
  line-height: 1rem;
}

@media (min-width: 767px) {
  .articles .col-sm-4 article.li .image {
    height: 10rem;
  }

  .articles .col-sm-4 article.li .title {
    font-size: 1.2rem;
  }

  .articles .col-sm-4 article.li .detail {
    padding: .5rem;
  }
}

.sm {
  background: transparent;
}

.sm article.li {
  margin-bottom: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sm:last-child article.li {
  border-bottom: 1px solid transparent;
}

.sm article.li .detail {
  display: table-cell;
  padding: 0;
  padding-left: .5rem;
  height: 50px;
  vertical-align: middle;
}

.sm article.li .title {
  white-space: normal;
}

.sm article.li .image {
  float: left;
  width: 50px;
  height: 50px;
}

.sm article.li time {
  position: relative;
  display: block;
  top: auto;
  left: auto;
  padding: 0;
  background-color: transparent;
  color: #000;
  line-height: 1rem;
  font-size: 10px;
  border-bottom: none;
}

.sm article.li .title {
  line-height: 1rem;
  font-size: .8rem;
}

.sm article.li .summary {
  display: none;
}

article.single {
  background-color: #fff;
  font-size: 18px;
}

article.single .article-header {
  padding: 15px;
}

article.single .article-header time {
  font-size: 12px;
}

article.single .article-header .article-title {
  color: #337ab7;
}

@media (max-width: 768px) {
  article.single .article-header {
    padding: 15px;
    padding-bottom: 2rem;
  }
}

article.single .image {
  height: 220px;;
  background-color: #eee;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  article.single .image {
    height: 12rem;
  }
}

article.single .article-body {
  max-width: 100%;
  margin: 15px;
}

article.single .article-body h1,
article.single .article-body h2,
article.single .article-body h3,
article.single .article-body h4,
article.single .article-body h5,
article.single .article-body h6 {
  word-break: break-all;
  color: black;
}

article.single .article-body h1:first-child,
article.single .article-body h2:first-child,
article.single .article-body h3:first-child,
article.single .article-body h4:first-child,
article.single .article-body h5:first-child,
article.single .article-body h6:first-child {
  margin-top: 0;
}

article.single .article-body h1 {
  margin-top: 35px;
  margin-bottom: 10px;
}

article.single .article-body h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

article.single .article-body h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

article.single .article-body h3,
article.single .article-body h4,
article.single .article-body h5,
article.single .article-body h6 {
  margin-top: 20px;
  margin-bottom: 5px;
}

/*article.single .article-body p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  word-break: break-word;
}*/

article.single .article-body ul,
article.single .article-body ol {
  padding-left: 1.5rem;
}

article.single .article-body blockquote {
  padding: .5rem;
  border-left: none;
  background-color: #eee;
  font-size: .8rem;
}

article.single .article-body blockquote p {
  line-height: 1rem;
}

article.single .article-body blockquote p:last-child {
  margin-bottom: 0;
}

article.single .article-body pre {
  padding: 0;
  border: none;
  border-radius: 0;
}

article.single .article-body pre code {
  font-size: .8rem;
  line-height: 1rem;
  padding: 1rem;
}

#TableOfContents {
  font-size: .8rem;
  line-height: 1.5rem;
}

#TableOfContents a {
  display: block;
}

#TableOfContents ul ul a {
  text-decoration: none;
}

#TableOfContents>ul {
  padding-left: 0;
  list-style: none;
}

#TableOfContents>ul>li {
  font-weight: 900;
  margin-bottom: 1rem;
}

#TableOfContents>ul ul {
  padding-left: 0;
  font-weight: normal;
  list-style: none;
}

#TableOfContents>ul ul ul {
  padding-left: 1rem;
  list-style: none;
}

.section.menu {
  line-height: 1.5rem;
}

.section.menu a {
  display: block;
}

.section.menu ul {
  font-size: .8rem;
  list-style: none;
  padding-left: 0;
}

.section.menu ul a {
  text-decoration: none;
}

.section.menu ul ul {
  padding-left: 1rem;
}

.section.taxonomies a {
  display: block;
  font-size: .8rem;
  text-decoration: none;
  line-height: 1.5rem;
}

.section.taxonomies a:before {
  content: '\f105';
  font-family: 'Fontawesome';
  margin-right: 5px;
}

article.single aside {
  padding: 15px;
}

@media (max-width: 768px) {
  article.single aside {
    padding: 15px;
  }
}

article.single aside .section {
  margin-bottom: 10px;
}

.paging-left {
  position: fixed;
  left: 0px;
  top: 50%;
  color: #1fb316;
  text-decoration: none;
  padding: 7px;
  font-size: 50px;
  outline: none;
}

.paging-right {
  position: fixed;
  right: 0px;
  top: 50%;
  color: #1fb316;
  text-decoration: none;
  padding: 7px;
  font-size: 50px;
  outline: none;
}

.paging-left:hover, .paging-right:hover,
.paging-left:active, .paging-right:active,
.paging-left:focus, .paging-right:focus {
  color: white;
  text-decoration: none;
}

.paging-left:hover, .paging-right:hover {
  color: #77d877;
}

.share {
  text-align: right;
}

.share a {
  display: inline-block;
  color: #999;
  padding: 0 .5rem;
}
